section.main_4 {
    margin: 0;
    width: 100%;

    div.wrapper_4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: var(--width-main);
        margin: 100px auto;
        padding: 0;

        div.main_text {
            align-self: stretch;
            text-align: center;
            padding: 0 10%;
            margin-bottom: 50px;
        }

        .catalogue {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            width: var(--width-main);

            .catalogue_item_1,
            .catalogue_item_2,
            .catalogue_item_3,
            .catalogue_item_4,
            .catalogue_item_5,
            .catalogue_item_6 {
                display: block;
                height: 45vw;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                cursor: pointer;

                div.like {
                    display: flex;
                }
            }

            .catalogue_item_1 {
                grid: 1/1;
                position: relative;

                div.picture_1 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_1.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_1_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .catalogue_item_1:hover .picture_1 {
                background-size: 110%;
            }

            .catalogue_item_2 {
                grid: 1/2;
                position: relative;

                div.picture_2 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_2.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_2_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .catalogue_item_2:hover .picture_2{
                background-size: 180%;
            }

            .catalogue_item_3 {
                grid: 1/3;
                position: relative;

                div.picture_3 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_3.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_3_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .catalogue_item_3:hover .picture_3{
                background-size: 110%;
            }

            .catalogue_item_4 {
                grid: 2/1;
                position: relative;

                div.picture_4 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_4.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_4_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .catalogue_item_4:hover .picture_4{
                background-size: 120%;
            }

            .catalogue_item_5 {
                grid: 2/2;
                position: relative;

                div.picture_5 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_5.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_5_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .catalogue_item_5:hover .picture_5 {
                background-size: 170%;
            }

            .catalogue_item_6 {
                grid: 2/3;
                position: relative;

                div.picture_6 {
                    width: 90%;
                    height: 50%;
                    margin: 0 auto;
                    border-radius: var(--border-radius-small);
                    background-image: url(../assets/images/picture_6.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                div.picture_6_description {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        padding: 5%;
    
                        li {
                            font-size: 1.6vw;
                            img {
                                width: 1.6vw;
                            }
                        
                            ul.icons {
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                padding: 1%;
                            
                                li ul.icons_item {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 8px;

                                    li {
                                        font-size: 2vw;

                                        img {
                                        width: 2vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
            }

            .catalogue_item_6:hover .picture_6{
                background-size: 120%;
            }
        }
    }
}

@media screen and (max-width:900px) and (min-width: 400px) {
    section.main_4 {
    
        div.wrapper_4 {
            margin: 80px auto;
    
            div.main_text {
                padding: 0 5%;
                margin-bottom: 30px;
                font-size: 14px;
            }
    
            .catalogue {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                width: var(--width-main);
    
                .catalogue_item_1,
                .catalogue_item_2,
                .catalogue_item_3,
                .catalogue_item_4,
                .catalogue_item_5,
                .catalogue_item_6 {
                    height: 55vw;
                }
    
                .catalogue_item_1 {
                    grid: 1/1;
                    position: relative;
    
                    div.picture_1 {
                        height: 60%;
                    }
    
                    div.picture_1_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_1:hover .picture_1 {
                    background-size: 110%;
                }
    
                .catalogue_item_2 {
                    grid: 1/2;
                    position: relative;
    
                    div.picture_2 {
                        height: 60%;
                    }
    
                    div.picture_2_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_2:hover .picture_2{
                    background-size: 180%;
                }
    
                .catalogue_item_3 {
                    grid: 2/1;
                    position: relative;
    
                    div.picture_3 {
                        height: 60%;
                    }
    
                    div.picture_3_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_3:hover .picture_3{
                    background-size: 110%;
                }
    
                .catalogue_item_4 {
                    grid: 2/2;
                    position: relative;
    
                    div.picture_4 {
                        height: 60%;
                    }
    
                    div.picture_4_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_4:hover .picture_4{
                    background-size: 120%;
                }
    
                .catalogue_item_5 {
                    grid: 3/1;
                    position: relative;
    
                    div.picture_5 {
                        height: 60%;
                    }
    
                    div.picture_5_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_5:hover .picture_5 {
                    background-size: 170%;
                }
    
                .catalogue_item_6 {
                    grid: 3/2;
                    position: relative;
    
                    div.picture_6 {
                        height: 60%;
                    }
    
                    div.picture_6_description {
                        ul {
        
                            li {
                                font-size: 2vw;
                                img {
                                    width: 2vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 3vw;
    
                                            img {
                                            width: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_6:hover .picture_6{
                    background-size: 120%;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    section.main_4 {
    
        div.wrapper_4 {
            margin: 60px auto;
    
            div.main_text {
                padding: 0 5%;
                margin-bottom: 30px;
                font-size: 14px;
            }
    
            .catalogue {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                gap: 15px;
                width: var(--width-main);
    
                .catalogue_item_1,
                .catalogue_item_2,
                .catalogue_item_3,
                .catalogue_item_4,
                .catalogue_item_5,
                .catalogue_item_6 {
                    height: 70vw;
                }
    
                .catalogue_item_1 {
                    grid: 1/1;
                    position: relative;
    
                    div.picture_1 {
                        height: 60%;
                    }
    
                    div.picture_1_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_1:hover .picture_1 {
                    background-size: cover;
                }
    
                .catalogue_item_2 {
                    grid: 2/1;
                    position: relative;
    
                    div.picture_2 {
                        height: 60%;
                    }
    
                    div.picture_2_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_2:hover .picture_2{
                    background-size: cover;
                }
    
                .catalogue_item_3 {
                    grid: 3/1;
                    position: relative;
    
                    div.picture_3 {
                        height: 60%;
                    }
    
                    div.picture_3_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_3:hover .picture_3{
                    background-size: cover;
                }
    
                .catalogue_item_4 {
                    grid: 4/1;
                    position: relative;
    
                    div.picture_4 {
                        height: 60%;
                    }
    
                    div.picture_4_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_4:hover .picture_4{
                    background-size: cover;
                }
    
                .catalogue_item_5 {
                    grid: 5/1;
                    position: relative;
    
                    div.picture_5 {
                        height: 60%;
                    }
    
                    div.picture_5_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_5:hover .picture_5 {
                    background-size: cover;
                }
    
                .catalogue_item_6 {
                    grid: 6/1;
                    position: relative;
    
                    div.picture_6 {
                        height: 60%;
                    }
    
                    div.picture_6_description {
                        ul {
        
                            li {
                                font-size: 3vw;
                                img {
                                    width: 3vw;
                                }

                                ul.icons {
                                
                                    li ul.icons_item {
    
                                        li {
                                            font-size: 4vw;
    
                                            img {
                                            width: 4vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .catalogue_item_6:hover .picture_6{
                    background-size: cover;
                }
            }
        }
    }
}
