section.main_1 {
    background-color: var(--bg-blue);
    margin: 0;
    width: 100%;
    position: relative;

    div.wrapper_1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: var(--width-main);
        margin: 0 auto;
        padding: 100px 0;

        span {
            color: var(--color-span);
        }

        h1 {
            margin: 0;
            font-size: 60px;
            font-weight: 700;
            line-height: 80px;
        }

        div.h1_text {
            font-size: 22px;
            font-weight: 400;
            line-height: 34px;
        }

        div.search {
            border-radius: 16px;
            background-color: rgba(255, 255, 255, 0.80);
            backdrop-filter: blur(8px);
            width: fit-content;
            height: 100px;
            padding: 20px;
            box-sizing: border-box;

            ul {
                display: inline-flex;
                align-items: center;
                gap: 30px;

                li {
                    line-height: 24px;

                    ul.location_icon,
                    ul.price_icon,
                    ul.property_icon {
                        display: flex;
                    }
                }

                li div.icon {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #ebedf0cc;

                    img {
                        margin: 50% 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                li button {
                    display: block;
                    width: 56px;
                    height: 56px;
                }
            }
        }

        div.statistics ul {
            display: flex;
            gap: 5px 40px;

            li ul {
                flex-direction: column;

                #number {
                    font-size: 30px;
                    font-weight: 700;
                }
            }
        }
    }

    img.building {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 70vw;
    }
}

@media screen and (max-width:900px) and (min-width: 400px) {
    section.main_1 {
        div.wrapper_1 {
            padding: 40px 0;

            h1 {
                font-size: 36px;
                line-height: 48px;
            }

            div.h1_text {
                font-size: 16px;
                line-height: 24px;
            }

            div.search {
                width: 320px;
                height: 310px;
                padding: 20px;
    
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;
                    padding-left: 10px;
    
                    li {
                        line-height: 24px;

                        ul.location_icon,
                        ul.price_icon,
                        ul.property_icon {
                            display: flex;
                            flex-direction: row;
                        }
                    }

                    li.line {
                        display: none;
                    }
    
                    li div.icon {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: #ebedf0cc;
                    }

                    li button {
                        margin: 0 50px;
                        width: 160px;
                        height: 56px;
                    }
                }
            }

            div.statistics ul {
                display: none;
            }
        }
        img.building {
            width: 90vw;
        }
    }
}

@media screen and (max-width:400px) {
    section.main_1 {
        div.wrapper_1 {
            padding: 30px 0;
            gap: 20px;

            h1 {
                font-size: 24px;
                line-height: 36px;
            }

            div.h1_text {
                font-size: 14px;
                line-height: 20px;
            }

            div.search {
                width: 250px;
                height: 310px;
                padding: 10px 0;
    
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;
                    padding-left: 10px;
    
                    li {
                        line-height: 24px;

                        ul.location_icon,
                        ul.price_icon,
                        ul.property_icon {
                            display: flex;
                            flex-direction: row;
                        }
                    }

                    li.line {
                        display: none;
                    }
    
                    li div.icon {
                        display: block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: #ebedf0cc;
                    }

                    li button {
                        margin: 0 34px;
                        width: 160px;
                        height: 56px;
                    }
                }
            }

            div.statistics ul {
                display: none;
            }
        }

        img.building {
            width: 90vw;
        }
    }
}
