:root {
    --color: #16100D;
    --width-main: 80vw;
    --bg-blue: #EFF8FF;
    --bg-button: #025595;
    --bg-button-hover: #003e6d;
    --border-radius: 16px;
    --border-radius-small: 12px;
    --color-button: #fff;
    --color-span: rgba(22, 16, 13, 0.50);
    --font-size-h2: 40px;
    --font-weight-h2: 700;
    --box-shadow: 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 50px 100px 0px rgba(0, 0, 0, 0.04);
    --color-gray: rgba(18, 24, 29, 0.50);
}
