nav.header_nav {
    height: 90px;
    background-color: var(--bg-blue);
    margin: 0;
    width: 100%;

    ul.navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--width-main);
        margin: 0 auto;
        padding: 10px 0;

        li.navigation_items ul.menu_items {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        li.navigation_button {
            button {
                width: 150px;
                height: 60px;
                padding: 13px 20px;
                transition: .3s;
            }
        }

        li.menu {
            display: none;
        }
    }
}

@media screen and (max-width:900px) {
    nav.header_nav {

        ul.navigation {

            li.navigation_items ul.menu_items {
                display: none;
            }

            li.navigation_button {
                display: none;
            }

            li.menu {
                display: block;
                cursor: pointer;
            }
        }
    }
}