html {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: satoshi-regular;
    font-size: 16px;
    color: var(--color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline var(--color);
}

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-button);
    color: var(--color-button);
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-button-hover);
}

h2 {
    align-self: stretch;
    text-align: center;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.main_text {
    color: var(--color-span);
    font-weight: 400;
    line-height: 30px;
}

.bold_text_2 {
    font-weight: 700;
    line-height: 36px;
}

.price {
    color: #025595;
    font-family: satoshi-regular;
    font-size: 1.6vw;
    font-weight: 700;
    line-height: 3vw;
}

div.like {
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 2%;
    position: absolute;
    top: 5%;
    left: 75%;
}

@media screen and (max-width:900px) and (min-width:400px) {
    h2 {
        font-size: 28px;
    }

    .price {
        font-size: 2vw;
    }

    .bold_text_2 {
        font-size: 3vw;
    }
}

@media screen and (max-width:400px) {
    h2 {
        font-size: 22px;
    }
}